:root {
  --grayTransparent: rgba(75,75,75, .15);
  --blue: rgba(0, 75, 173,1)
}


html {
  margin: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

.hidden {
  width: 0 !important;
  overflow: hidden;
}

.App {
  width: 100%;
}

h1 {
  margin: 0;
  color: white;
}

p {
  margin: 0 0 0 0;
  color: white;
}

button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.active {
  color: red !important;
}

.indent {
  margin: 0 0 0 2vw;
}

.headerContainer {
  display: flex;
  margin: 2vh 0 0 0;
  justify-content: center;
  z-index: 100;
  width: 100%;
  height: fit-content;
  position: absolute;
  .titleContainer {
    width: 33%;
    text-align: center;
    .title {
      font-size: 5vmax;
    }
    .subtitle {
      font-size: 1.5vmax;
    }
  }
}

.navbarContainer {
  display: flex;
  z-index: 150;
  width: 100%;
  height: 8vh;
  .menu {
    background-color:var(--grayTransparent);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .button {
      margin: 1vh 1vw 1vh 1vw;
      padding: 0 3vw 0 3vh;
      cursor: pointer;
      text-decoration: none;
      .link {
        font-size: 1vmax;
        font-weight: bold;
      }
    }
  }
}

.homeContainer {
  display: block;
  justify-content: center;
  height: fit-content;
  width: 100vw;
}

.aboutContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  .subtitle {
    font-size: 1.5vmax;
  }
}

.moonInfoContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  .subtitle {
    font-size: 1.5vmax;
  }
}

.ourTeamContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  .subtitle {
    font-size: 1.5vmax;
  }
}

.spaceAppsContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  .subtitle {
    font-size: 1.5vmax;
  }
  .information {
    height: 80%;
    .block {
      height: 70%;
    }
  }
}

.globeContainer {
  background-color: rgb(0, 0, 0);
  margin: 0 0 0 0;
}

.information {
  position: absolute;
  width: 90%;
  height: 70%;
  display: block;
  justify-content: center;
  align-items: flex-start;
  z-index: 100;
  .block {
    background-color: var(--grayTransparent);
    margin: 0 2vw 0 2vw;
    border-radius: 2vmax;
    width: 100%;
    height: 25vh;
    padding: 3vmax;
    display: flex;
    flex-direction: column;
    .link {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: end;
      text-decoration: none;
      cursor: pointer;
      .button {
        background-color: var(--blue);
        padding: 2vmax;
        border-radius: 2vmax;
        width: fit-content;
        height: fit-content;
        .subtitle {
          font-size: 1.5vmax;
        }
      }
    }
    .title {
      font-size: 2.5vmax;
      font-weight: bold;
    }
  }
}